.row {
  display: flex;
}
.row:last-child .box {
  border-bottom: var(--border-table);
}
.row:nth-child(odd) {
  background: var(--background-odd);
}

.row:nth-child(even) {
  background-color: var(--background-even);
}
.box {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  border: var(--border-table);
  border-right: 0;
  border-bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex: 1;
}

.box:nth-child(4) {
  flex: 2;
}
.box:last-child {
  border-right: var(--border-table);
}
